@import "@/assets/style/vars";

.login-form {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    font-family: $main-font-family;

    &__text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #d9d9d9;

        & h1 {
            height: 4.7svw;
            font-size: 2.7svw;
            background: linear-gradient(to bottom, #af401b, #d65a31);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__email,
    &__password {
        width: 89.6%;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        & input {
            height: 3.5svw;
            background-color: #eeeeee;
            border: 2px solid #d9d9d9;

            &::placeholder {
                font-size: 1.5rem;
                font-family: $main-font-family;
            }
        }

        & input:focus {
            outline: none;
        }
    }
}
