@import "@/assets/style/vars";

.login-form {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    font-family: $main-font-family;

    & h1 {
        text-align: center;
        color: #d65a31;
        width: 100%;
        background-color: #d9d9d9;
        height: 4.7svw;
        
    }

    &__email,
    &__password {
        width: 90%;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        & input:focus {
            outline: none;
        }
    }
}
